<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Async.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Bmp.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Cmp.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Cmw.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Fax.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Gif.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.J2k.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Jb2.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Jbg.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Png.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Raw.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Codecs.Tif.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.ColorConversion.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Drawing.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Drawing.MP.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Formats.Raster.Common.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Effects.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Kernel.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Svg.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Vector.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Wia" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Wia.dll.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="Leadtools.Wia.NETFramework" version="20.0.0.2" targetFramework="net461" />
  <package id="NAudio" version="1.8.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="streamdecksharp" version="0.1.10" targetFramework="net461" />
  <package id="WebEye.Controls.WinForms.WebCameraControl" version="1.0.2" targetFramework="net461" />
</packages>